<% if @teches.empty? %>
<p>No hay técnicos añadidos todavía</p>
<% else %>
<table>
  <thead>
    <tr>
      <td>Técnico</td>
      <% if current_user.admin? %>
        <td>De</td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @teches.each do |tech| %>
    <tr>
      <td><%= link_to tech.name, tech %></td>
      <% if current_user.admin? %>
        <td><%= link_to tech.user.name, tech.user %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>