<% if @teches.empty? %>
<p>No hay técnicos añadidos todavía</p>
<% else %>
<table>
  <thead>
    <tr>
      <td>Técnico</td>
    </tr>
  </thead>
  <tbody>
    <% @teches.each do |tech| %>
    <tr>
      <td><%= link_to tech.name, tech %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>