<div class="container-fluid d-flex justify-content-center ">
  <div class="col-6 m-2 p-3 bg-light rounded shadow">
    <div class="d-flex justify-content-between m-2 p-3 border-bottom">
      <h2>Nuevo Técnico <%= "de #{User.find(params[:user_id]).name}" if params[:user_id].present? %></h2>
    </div>

    <%= render "form", tech: @tech %>

    <div id="page_navigation">
      <div class="row m-1 p-2">
        <%= link_to root_path, class: "btn btn-dark" do %>
          <%= fa_icon "home", text: " Página Principal" %>
        <% end %>
      </div>
    </div>
      
  </div>
</div>
