<div id="salas" class="col-lg-8 d-block mx-auto m-2 p-3">
  <div class="d-flex justify-content-between m-2 p-3 border-bottom">
    <h2>Reservas</h2>
    <% if current_user.admin? %>
      <%= link_to "Añadir sala", new_reservation_path(user_id: @user), 
        class: "btn btn-sm btn-success"  %>
    <% end %>
  </div>
  <div class="m-2 p-3">
    <%= render "reservations/table_reservations_index" %>
  </div>
</div>