<% if @rooms.empty? %>
<p>No hay salas añadidas todavía</p>
<% else %>
<table>
  <thead>
    <tr>
      <td>Sala</td>
    </tr>
  </thead>
  <tbody>
    <% @rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, room %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>