<div class="container-fluid d-flex justify-content-center ">
  <div class="col-lg-6 col-10 m-2 p-3 bg-light rounded shadow">
    <%= render @room %>
  </div>
</div>

<div id="page_navigation">
  <div class="row m-1 p-2">
    <%= link_to rooms_path, class: "btn btn-danger" do %>
      <%= fa_icon "arrow-left", text: " Volver a salas" %>
    <% end %>
  </div>
</div>